/**

Colors - MUI

$primary = #1976d2;

**/

/** Globals **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Dosis", sans-serif;
    line-height: 1;
}

/** Layout + Components **/
#header {
    background: #1976d2;
}

#header ul {
    padding: 20px 40px;
    margin-bottom: 20px;
}

#header ul li {
    list-style: none;
    display: inline-block;
}

#header ul li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

#header ul li.dev-dashboard-link {
    float: right;
}

.page-container {
    margin: 0 auto;
    max-width: 1200px;
}

#loading-spinner-overlay {
    text-align: center;
    padding: 100px;
}

/** Home **/
#shopping-list .inner-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.shopping-list-empty {
    width: 800px;
    margin: 100px auto;
    padding: 100px 100px 200px;
    border: 1px solid #999;
    border-radius: 4px;
    text-align: center;
}

.shopping-list-empty p {
    margin-bottom: 40px;
}

#shopping-list .not-empty-header {
    margin-bottom: 20px;
}

#shopping-list .not-empty-header h2,
#shopping-list .not-empty-header button {
    display: inline-block;
}

#shopping-list .not-empty-header button {
    float: right;
}

#shopping-list td {
    padding: 10px;
}

#shopping-list td:first-child {
    width: 100px;
}

#shopping-list td:nth-child(2) strong {
    display: block;
    padding-top: 20px;
    font-size: 16px;
}

#shopping-list td:last-child button {
    min-width: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.shopping-item-modal {
    width: 400px;
    background: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-input-row {
    margin-bottom: 20px;
}

.bottom-buttons {
    text-align: right;
}

.bottom-buttons :first-child {
    margin-right: 10px;
}

/** Dev Dashboard **/
#dev-dashboard table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#dev-dashboard th,
#dev-dashboard td {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

td .strike-row {
    text-decoration: line-through;
}

#dev-dashboard p b {
    display: inline-block;
    margin: 0 10px 10px 0;
}